.admin-layout .side-bar {
  min-width: 230px;
  position: fixed;
  height: 100vh;
}
.admin-layout .main {
  width: calc(100vw - 230px);
  margin-left: 230px;
}

.admin-layout .page-content {
  min-height: 80vh;
}

.side-nav-li li {
  line-height: 3rem;
  font-weight: 400;
}

.main {
  min-height: 80vh;
}

.reset-pass form {
  width: 450px;
  margin: auto;
  box-shadow: -5px 5px 10px grey;
  padding: 1rem;
  border-radius: 10px;
}

.page-content {
  background-color: #fefbea;
}
